{{#
@name Gallery
@desc The gallery component.
#}}

<!-- /components/_gallery.antlers.html -->
{{ push:gallery_scripts }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/js/jquery.swipebox.min.js" integrity="sha512-RcpE0ybOapw3Pl77Nz/la9grsKWw3MQXBoeiCg1y+psaqTNcSIQ8JYn4p3wG5XakxdyEYl/r22NLp3EYsX4SXg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/css/swipebox.css" integrity="sha512-aiphM8HYk085AcAAQwRkx5AcM9HvzCMjsaUirRoLEIdFCj6pkXgUgz73UNcG8Rr4CdvMOo7ApDDVNjpZOKx+CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{ /push:gallery_scripts }}
<script type="text/javascript">
    ; (function ($) {

        $('.swipebox').swipebox();

    })(jQuery);
</script>

<div class="gallery my-4 flex flex-wrap" itemscope itemtype="http://schema.org/ImageGallery">
    {{ images }}
    <figure class="basis-full sm:basis-1/2 md:basis-1/4 p-1">
        <a class="swipebox" href='{{ glide:id width="960" fit="crop" quality="90" format="webp" }}' itemprop="contentUrl" data-size='960x{{ height }}'>
            <img class="m-0 rounded-sm" src='{{ glide:id width="600" height="400" fit="crop" quality="90" format="webp" }}' alt="{{ alt }}" loading="lazy" />
        </a>
    </figure>
    {{ /images }}
</div>
<!-- End: /components/_gallery.antlers.html -->