{{#
    @name Logo
    @desc The logo component with a `width` attribute.
#}}

<!-- /components/_logo.antlers.html -->
<a class="p-2 -m-2 focus:outline-none focus-visible:ring-2 ring-primary" 
aria-label="Logo {{ config:app:name }}" href="{{ site:url }}">
    <img src="/visuals/marcelbootsman-logo.png" class="inline select-none {{ class }}" width="80" alt="{{ config:app:name }}"/>
    <span class="border-b-4 border-brightgreen text-2xl font-bold">Marcel Bootsman</span>
</a>
<!-- End: /components/_logo.antlers.html -->
