{{#
@name Logo
@desc The logo component with a `width` attribute without the theme switcher.
#}}

<!-- /components/_logo.antlers.html -->
<div class="basis-54 sm:basis-96">
    <a class="p-2 -m-2 focus:outline-none focus-visible:ring-2 ring-primary"
        aria-label="Logo {{ config:app:name }}" href="{{ site:url }}">
        <img src="{{ config:app:url }}/visuals/marcelbootsman-logo.png" class="logo inline select-none {{ class }} w-10 sm:w-20" alt="{{ config:app:name }}" />
        <span class="border-b-4 border-brightgreen text-l sm:text-2xl font-bold">Marcel Bootsman</span>
    </a>
    
</div>
<!-- End: /components/_logo.antlers.html -->