{{#
@name Home
@desc The Home template with an outer wrapper grid as defined in tailwind.config.js. It makes sure all blocks on a page get evenly spaced without having to worry about margins or paddings.
#}}

<!-- /home.antlers.html -->
<main class="outer-grid" id="content">
    {{# only for the homepage #}}
    <div class="fluid-container grid grid-cols-4 gap-4">
        {{ page_builder scope="block"}}
        {{ if { type } =="article" }}
        {{ partial src="page_builder/{type}" }}
        {{ /if}}
        {{ /page_builder}}

        {{ page_builder scope="block"}}
        {{ if { type } == "avatar" }}
        {{ partial src="page_builder/{type}" }}
        {{ /if }}
        {{ /page_builder}}
    </div>

    {{ partial src="layout/homeblogs" }}
    {{ partial src="layout/homenotes" }}
</main>
<!-- End: /home.antlers.html -->