{{ partial:layout/mastodon-share-js }}

<main class="prose fluid-container" id="content">
    <h1 class="block">{{ title }}</h1>
    <span class="block text-sm text-stone-400 my-4">{{ date }}</span>
    {{ categories }}
    <a href="/categories/{{ slug }}" class="category text-xs p-2 my-4 mr-2 rounded-md bg-stone-200 hover:bg-brightgreen">{{ title }} </a>
    {{ /categories }}

    {{ partial:layout/mastodon-share-button }}

    {{ if featured_image }}
    {{ glide :src="featured_image" width="860" height="450" format="webp"}}
    <img class="mt-2 mb-2 rounded-md" src="{{ url }}" width="{{ width }}" height="{{ height }}" alt="{{ alt }}">
    {{ /glide }}

    {{ /if }}
    {{ page_builder scope="block" }}
    {{ partial src="page_builder/{type}" }}
    {{ /page_builder }}

    {{# Add authorbox #}}
    {{ get_content from="/authorbox" }}
    <div class="authorbox border-2 rounded-md  bg-stone-200 p-4 my-8  w-full">
        <div class="grid grid-cols-4">
            {{ page_builder scope="block"}}
            {{ if { type } == "avatar" }}
            {{ partial src="page_builder/{type}" }}
            {{ /if }}
            {{ /page_builder}}

            {{ page_builder scope="block"}}
            {{ if { type } =="article" }}
            {{ partial src="page_builder/{type}" }}
            {{ /if}}
            {{ /page_builder}}
        </div>
    </div>
    {{ /get_content }}
</main>