{{ collection:notes limit="6" as="notes" sort="date:desc"}}
<div class="fluid-container prose">
    <h2 class="mb-0" id="latest-notes">Latest notes</h2>
    <div class="flex flex-col border-brightgreen border-t-4 prose-a:underline prose-a:decoration-primary prose-a:decoration-2 hover:prose-a:text-primary focus:prose-a:outline-none focus-visible:prose-a:ring focus-visible:prose-a:ring-primary focus-visible:prose-a:rounded-sm">
        {{ notes }}
        <div class="sm:flex py-2 ">
            <div class="pr-4 basis-1/3 shrink-0 ">
                {{ if featured_image }}
                <a href="{{ url }}">
                    {{ glide :src="featured_image" width="860" height="450" fit="crop" format="webp"}}
                    <img class="shadow-md m-0" src="{{ url }}" width="{{ width }}" height="{{ height }}" alt="{{ alt }}">
                    {{ /glide }}
                </a>
                {{ /if }}
            </div>
            <div>
                <a href="{{ url }}" class="inline-block font-bold">{{ title | widont }}</a>
                <span class="font-mono text-xs mb-3 block">{{ date format="F jS, Y" }}</span>
                {{ seo_description | truncate(160, '...') }}
            </div>
        </div>
        {{ /notes }}
        <p class="my-2"><a href="/notes/">More notes</a></p>
    </div>
</div>
{{ /collection:notes }}