<span id="mastodonshare" class="hidden category items-baseline float-right rounded-md bg-stone-200 hover:bg-brightgreen px-1">
    <a class="underline" title="Share '{{ title }}' on Mastodon" href="#" onclick="MastodonShare(this);" data-src="I found this blog and decided to share it with you.%0D%0A%0D%0A{{ title }}&amp;url={{ permalink }}">
        <img class="inline align-middle h-4 m-0 mr-1" alt="Mastodon logo" title="Share on Mastodon" src="/images/mastodon-logo.svg" /><span class="text-xs">Share on Mastodon</span>
    </a>
</span>