{{ push:mastodon_share }}
<script>
    /* Generate a share link for the user's Mastodon domain */
    function MastodonShare(e) {
        // Get the source text
        src = e.getAttribute("data-src");

        // Get the Mastodon domain
        domain = prompt("Enter your Mastodon domain", "toot.re");

        if (domain == "" || domain == null) {
            return;
        }

        // Build the URL
        url = "https://" + domain + "/share?text=" + src;

        // Open a window on the share page
        window.open(url, '_blank');
    }

    function doSomethingWhenDocumentReady(functionToExecute) {
        /* $(document).ready() without javascript
        */
        if (document.readyState === "complete" ||
            (document.readyState !== "loading" && !document.documentElement.doScroll)
        ) {
            functionToExecute();
        } else {
            document.addEventListener("DOMContentLoaded", functionToExecute);
        }
    }

    /* Call this on document.ready() */
    function unhideMastodonShare() {
        var button = document.getElementById('mastodonshare');
        button.classList.remove('hidden');
    }
    doSomethingWhenDocumentReady(unhideMastodonShare);

</script>
{{ /push:mastodon_share }}