{{#
@name Work
@desc The work page builder block. It extends the prose typography partial.
@set page.page_builder.work
#}}

<!-- /page_builder/_work.antlers.html -->
<section class="work col-span-4 md:col-span-3 p-4 rounded-md">
    <h2 id="work" class="mt-0">Work</h2>
    {{ partial:typography/prose as="article" class="contents" }}
    {{ article }}
    {{ partial src="components/{type}" }}
    {{ /article }}
    {{ /partial:typography/prose }}
</section>
<!-- End: /page_builder/_work.antlers.html -->